<ng-container *ngIf="store$ | async as store">
  <section class="my-lg-14 my-8">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3">
          <div class="d-flex flex-column">
            <div>      <!-- img -->      <!-- img --> <img [src]="store.logoUrl" [alt]="store.name"
                                                           class="rounded-circle icon-shape icon-xxl"></div>
            <!-- heading -->
            <div class="mt-4"><h1 class="mb-1 h4">{{store.name}}</h1>
              <div class="small text-muted"><span>It is only {{store.distanceInMeters}} km away from you! </span></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-9">
          <div class="mb-4 bg-light d-lg-flex justify-content-between align-items-center rounded py-6 ps-8">
            <div class="mr-5">
              <h5 class="mb-0 fw-bold">
                {{store.name}}
              </h5>
              <span class="mb-0">
                Whatever the occasion, we've got you covered.
              </span>
              <div class="d-flex w-100 mt-3">
                <form class="w-100 d-none d-lg-block">
                  <div class="input-group ">
                    <input class="form-control rounded" type="search" placeholder="Search {{store.name}}">
                    <span class="input-group-append">
                        <button class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end" type="button">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                               class="feather feather-search">
                          <circle cx="11" cy="11" r="8"></circle>
                          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                        </button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
            <div class="d-lg-block d-none">
              <img src="../assets/images/svg-graphics/store-graphics.svg" alt="" class="img-fluid">
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="my-lg-14 my-8">
    <div class="container">
      <div class="row">
        <h2>{{store.name}} products:</h2>
      </div>
      <div class="row">
        <ng-container *ngIf="storeProducts$ | async as products">
          <ng-container *ngIf="products.length > 0; else emptyState">
            <carousel [itemsPerSlide]="6" [singleSlideOffset]="true" [noWrap]="true" [interval]="0">
              <slide *ngFor="let product of products">
                <div class="text-center mb-10">    <!-- img -->
                  <img src="{{product.imageUrl}}" alt="{{product.name}}" class="card-image rounded-circle">
                  <!-- text -->
                  <div class="mt-4">
                    <h5 class="fs-6 mb-0"><a class="text-inherit">{{product.name}}</a></h5>
                  </div>
                </div>
              </slide>
            </carousel>
          </ng-container>
          <ng-template #emptyState>
            <p>Oops...Store is empty!</p>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </section>
</ng-container>
